
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Poppins", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
}
#root {

  padding: 20px;
  max-width: 800px;
  margin-top: 40px;
}